<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Recipe
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card routerLink="/recipe/1">
    <img alt="adobo" src="assets/icon/img/adobo.jpg" />
    <ion-card-header>
      <ion-card-title>Adobo</ion-card-title>
      <ion-card-subtitle>Filipino Dish</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      The practice of marinating meat in a flavorful mixture made from vinegar, salt, garlic, paprika, and oregano was common to Spanish cooking
    </ion-card-content>
  </ion-card>
  <ion-card routerLink="/recipe/2">
    <img alt="tinola" src="assets/icon/img/sinigang.jpg" />
    <ion-card-header>
      <ion-card-title>Sinigang</ion-card-title>
      <ion-card-subtitle>Filipino Dish</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content >
      Sinigang is a Filipino soup or stew characterized by its sour and savory taste. It is most often associated with tamarind
    </ion-card-content>
  </ion-card>
  <ion-card routerLink="/recipe/3">
    <img alt="sinigang" src="assets/icon/img/humba.jpg" />
    <ion-card-header>
      <ion-card-title>Humba</ion-card-title>
      <ion-card-subtitle>Filipino Dish</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      a dish similar to adobo but is sweeter and fattier, usually made using fried pork belly cooked in a sauce including garlic, onions, fermented black beans, spring onions, brown sugar, pepper corns, bay leaves, soy sauce and lemon-lime soft drink or pineapple juice. (often offensive, humorous) a fat person.
    </ion-card-content>
  </ion-card>
</ion-content>
